@import "./reset";

button {
    border: none;
    box-shadow: none;
}

.cell {
    background-size: 100% 100%;

    &.hidden {
        background-image: url("/hidden.svg");
    }

    &.flagged {
        background-image: url("/flagged.svg");
    }

    @for $i from 0 through 8 {
        &.num-#{$i} {
            background-image: url("/num-#{$i}.svg")
        }
    }
}