@import "./reset";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
    row-gap: 4rem;

    min-height: 100vh;
    width: 100vw;
}

.info {
    width: 60ch;
    text-align: center;
}

.board {
    display: grid;
}

button {
    border: none;
    box-shadow: none;
}

.cell {
    background-size: 100% 100%;
    &:hover, &:focus, &:focus-visible, &:focus-within {
        // the other buttons are very weirdly covering the normal outline
        // hence using pseudo elements
        outline: none;
        &::after {
            position: relative;
            top: 0;
            left: 0;
            z-index: 99;
            outline: 1px solid black;
            content: " ";
            width: 100%;
            height: 100%;
            display: inline-block;
        }
    }

    @each $type in ("hidden", "flagged", "bomb") {
        &.#{$type} {
            background-image: url("/#{$type}.svg");
        }
    }

    @for $i from 0 through 8 {
        &.num-#{$i} {
            background-image: url("/num-#{$i}.svg");
        }
    }
}

li * {
    margin-inline: 2ch;

    &:first-child {
        margin-inline-start: 0;
    }
}